.navbar-brand{
    margin-left: 4rem;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Playfair Display';
    font-style: italic;
    color: rgb(117, 51, 113);
}

.navbar-brand:hover{
    color: rgb(117, 51, 113);

}

.btn-outline-success{
    margin-right: 4rem;
}

.navbar-expand-lg{
    height: 8rem;
    background: linear-gradient(to right, rgb(253, 215, 251), rgb(255, 150, 250));
}

.navbar-collapse{
    margin-left: 3rem;
}

.minha-cor{
    color: white;
    border-color: white;
    
}

.btn-outline-success{
    color: white;
    border-color: white;
}
.btn-outline-success:hover{
    background-color: white;
    border-color: white;
    color: black;
}

.btn-outline-success:active,
.btn-outline-success.minha-cor:focus
    {
    background-color: rgb(249, 213, 255) !important;
    border-color: rgb(249, 213, 255) !important;
    color: black;
}

.nav-link{
    margin-right: 1rem;
}

.nav-item:hover{
    font-weight: bold;
}

.carousel-img {
    height: 30rem;
    object-fit: cover; 
  }
  
.btn-light{
    border-color: rgb(255, 150, 250);
    background-color: rgb(255, 150, 250);
    color: white;
}

.btn-light:hover{
    color: black;
}

.carousel-caption {
    position: absolute;
    bottom: 35%;
    text-align: center;
  }


.col{
    margin-top: 3rem;
}

.post-container {
    max-width: 800px;
    margin: 4rem auto;
    padding: 2rem;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 4px 10px rgba(119, 25, 114, 0.232);
    
  }
  
  .post-container h1 {
    font-weight: bold;
    color: rgb(117, 51, 113);
  }
  
  .post-container p {
    font-size: 1.1rem;
    line-height: 1.8;
  }
  
  .footertitle{
    font-weight: bold;
    font-family: 'Playfair Display';
    color: rgb(117, 51, 113);
    margin-top: 1rem;
  }

  .h-100{
    box-shadow: 0 4px 10px rgba(119, 25, 114, 0.232);
  }

  .btn-outline-secondary:hover{
    background-color: rgb(255, 150, 250);
    border-color: rgb(255, 150, 250);
  }

  .btn-outline-secondary:active{
    background-color: rgb(255, 150, 250);
    border-color: rgb(255, 150, 250);
    background:rgb(255, 150, 250);
  }